{% extends "base.html" %}
{% load i18n %}
{% block pretitle %}Sub-account Login{% endblock %}
{% block extra_head %}
{% endblock %}
{%  block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'api:home' %}">Home</a></li>

            <li class="active">Sub-account Login</li>
        </ul>
    </div>
{%  endblock %}
{% block pagename %}Sub-account Login{% endblock %}
{% block content %}

    <div class="container col-lg-8 well">
        <form method="post" action="" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            <table class="table table-striped table-hover ">

                        {{ form.as_table }}
             </table>
             <a href="{% url "api:home" %}"><input
                                type="button" class="btn-danger"
                                value="Cancel"/></a>

            <input class="btn-success btn-lg align-right" type="submit"
                               value="{% trans 'Login' %}"/>
        </form>
    </div>

{% endblock %}
