{% extends 'demo/bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>
            <a href="/">home</a>
            <a href="/demo/formset">formset</a>
            <a href="/demo/form">form</a>
            <a href="/demo/form_by_field">form_by_field</a>
            <a href="/demo/form_horizontal">form_horizontal</a>
            <a href="/demo/form_inline">form_inline</a>
            <a href="/demo/form_with_files">form_with_files</a>
            <a href="/demo/pagination">pagination</a>
            <a href="/demo/misc">miscellaneous</a>
        </p>

        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
