{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in - step 1" %}{% endblock %}
{% block pagename %}Welcome{% endblock %}
{% block content %}


<div class="login-box">

    <form action='' method='POST'>

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <p>
            <label form="smscode">email:</label><br/>
            <input type="text" name="email" value="" id="email" class="text">
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <input type="submit" class="active btn btn-lg btn-success" value="{%  trans 'Login' %}"/>
        <input type="hidden" name="next" value="{{ next|escape }}" />
        {% csrf_token %}

    </form>

</div>
{% endblock %}