<!DOCTYPE html>
<html lang="en">
 <head>
        <title>
        {% block pretitle %}{%  endblock %}
        {% block title %} {{ APPLICATION_TITLE }} {% endblock %}
        </title>
	
    {% block head %}
        {% include "include/head.html" %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
    
  </head>
  <body>
        {% include "include/top-nav.html" %}

        <div class="alert alert-danger">
            <strong>Upcoming Downtime</strong> CMS's BlueButton APIs will be inaccessible Saturday, August 9th from 8AM - 9AM ET.
            We apologize for the inconvenience. <a href="mailto:support@bbonfhir.com">Contact us</a> with any questions.
        </div>

         <div id="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    </div>
       
        <div class="container">
      <h2>{% block pagename %}{% endblock %}</h2>
      {% block content %}

        {% if template %}{% include template %}{% endif %}
        {{ content|safe }}
      {% endblock %}
    </div>
                        
        {% include "include/footer.html" %}

  </body>

</html>