{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}

{% block pagename %}Welcome{% endblock %}
{% block content %}

<div class="hero-unit">

    <h2>BB+ on FHIR: Developer Accounts</h2>

    <div class="container-fluid">
    	<div class="col-md-6"><p>Use this framework to manage developer accounts that want
       access to the BlueButton+ FHIR Framework.</p>
            {% if user.is_authenticated %}
                <a href="{% url "accounts:manage_account" %}" class="btn btn-primary btn-large">Manage Your Account</a>
            {%  else %}
                    <a href="{% url "accounts:sms_code" %}?next=/"><input type="button" class="active btn btn-large btn-success" value="{% trans "login" %}" /></a>
            {%  endif %}
        </div>

  	    <div class="col-md-6"><img src="{% static 'img/layout/blue-button.png' %}" style="height:300px"></div>

    </div>
</div>


{% endblock %}
