{% extends "base.html" %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}

{% block pagename %}Welcome{% endblock %}
{% block content %}

<div class="hero-unit">

    <h1>BB+ on FHIR</h1>
    <h2>Developer Account Framework</h2>

    <div class="container-fluid">
    	<div class="col-md-6"><p>Use this framework to manage developer accounts that want
       access to the BlueButton+ FHIR Framework.</p>
            <a href="/developer/manage_account" class="btn btn-primary btn-large">Manage Your Account</a>
        </div>

  	    <div class="col-md-6"><img src="{{ STATIC_URL }}img/layout/blue-button.png"></div>

    </div>
</div>



{% endblock %}
