 {% extends "base.html" %}
 {% load i18n %}
 {% load staticfiles %}
 {% block pretitle %}{% endblock %}
 {% block extra_head %} {% endblock %}
 {% block breadcrumbs %}
         <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">What's New</li>
        </ul>
    </div>
 {%  endblock %}
 {% block pagename %}What's New{% endblock %}
 {% block content %}

     <div class="row">
         <div class="col-md-12">
             <h3 contenteditable="true">What's New with {{ settings.APPLICATION_TITLE }}</h3>
         </div>
     </div>
<div class="section">
     <div class="row-fluid">
         <div class="col-lg-8 well well-large">
             <h4>Send Email on Account Activity[Implemented]
             </h4>
             <p>
                 <p>Send Email when Login occurs
                 </p>
                 <span>
                    Keep beneficiary informed by sending an email when a login occurs.
                     Notify Activity can be set to Email or Text. Text Notification requires the
                     mobile phone on the account to be verified.

                     <p>There will be a dashboard setting to allow this to be switched on and off.</p>
                 </span>
             <p>
{% comment %}
             <h4>
             </h4>
             <p>
                 <span>.&nbsp;
                 </span>
             <p>
{% endcomment %}
         </div>
         <div class="col-md-4">
             <img src="{% static 'img/layout/blue-button.png' %}" style="height:300px">
         </div>
     </div>
    <div class="row-fluid">
       <div class="col-lg-8">
            <h4>Send Email on Account Activity[Implemented]
             </h4>
             <p>
                 <p>Send Email when Login occurs
                 </p>
                 <span>
                    Keep beneficiary informed by sending an email when a login occurs.
                     Notify Activity can be set to Email or Text. Text Notification requires the
                     mobile phone on the account to be verified.

                     <p>There will be a dashboard setting to allow this to be switched on and off.</p>
                 </span>
             <p>

             <h4>Email checked against LDAP[Implemented]
             </h4>
             <p>
                 <p>Email Address is validated against an LDAP Server
                 </p>
                 <span>
                     An account will need to exist on MyMedicare.gov in order
                     to register for BlueButton.

                     <p>This feature will be disabled in the test environment to allow
                     non-Medicare members to test the BlueButton service.</p>
                 </span>
             <p>

             <h4>Account Activation [Implemented]
             </h4>
             <p>
                 <p>Send an email to trigger activation of the account.
                 </p>
                 <span>
                     Registration will leave an account created but not active.
                     An email is generated with a link. The user clicks the link to land at a screen
                     that activates the account.
                 </span>
             <p>
       </div>
       <div class="col-lg-8 hidden">
            <h4>title</h4>
            <p>
                <p>Summary line</p>
                <span>details....</span>
            </p>
       </div>
    </div>
</div>



 {% endblock %}
