{% load i18n %}
<h2>My Profile</h2>
    {% if user.is_authenticated %}
    <table>
        <tr>
            <td>
               Email:
            </td>
            <td>
                {{ user.email }}
            </td>
        </tr>
        <tr>
            <td>
               First name:
            </td>
            <td>
                {{ user.first_name }}
            </td>
        </tr>
       <tr>
            <td>
               Last name:
            </td>
            <td>
                {{ user.last_name }}
            </td>
        </tr>

    </table>
    {%  else %}

     {% endif %}

