{% load i18n %}
<h2>My Profile</h2>
    {% if user.is_authenticated %}
    <table>
        <tr>
            <td>
               Email:
            </td>
            <td>
                {{ user.email }}
            </td>
        </tr>
        <tr>
            <td>
               Name:
            </td>
            <td>
                {{ user.first_name }}&nbsp; {{ user.last_name }}
            </td>
        </tr>
       <tr>
            <td>
               Organization:
            </td>
            <td>
                {{ user.affiliated_to }} ({{  user.organization_role }})
            </td>
       </tr>
            {%  if user.mobile %}
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        {{ user.mobile }} on {{ user.carrier }} ({{ mfa_address }})
                    </td>
                </tr>
            {%  endif %}
    </table>
    {%  else %}

     {% endif %}

